section{
    display: block;
    font-size: 100%;
    margin-bottom: .5em;
}


@media only screen and (max-width: 479px){
    body{
        width: 90%;
    }

    section{
        padding: .5em;
    }

    #mobile_menu {
      display: block;
    }
  }