body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1024px;
    width: 95%;
    margin: 1em auto;
    padding: 0;
    border: 3px solid #2d611f;
    box-shadow: 0 10px 20px 10px;
    background-color: antiquewhite;
  }

  main{
    display: flex;
    justify-content: space-around;
  }

  section{
    order: 2;
    padding: 1em;
    }
  
  section h1{
    font-size: 200%;
    color: #060c04;
  }

  #featuredImage{
    display: flex;
    justify-content: center;
  }

  #featuredImage img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  #rightRail{
    order: 3;
    padding: 1em;
    width: 33%;
  }

  #rightRail h1{
    text-align: center;
  }

  #clarify{
    font-style: oblique;
  }

  #featuredRail {
    background-color: #bad69d;
    order: 1;
    padding: 2em;
    width: 20%;
  }
  
  #featuredRail h2{
    color: #060c04;
    font-size: 125%;
    padding: 0 0 .5em 0;
  }

  aside h3{
    font-size: 90%;
  }
  
  #mobile_menu{
    display: none;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /*media queries*/
  @media only screen and (max-width: 900px){
    body {
      font-size: 90%;
      box-shadow: none;
    }
  }
  
  @media only screen and (max-width: 767px){
    main {
      flex-direction: column;
    }
    section {
      order: 1;
    }
    #featuredRail {
      order: 2;
      padding: .5em 3.3333% 1em 3.3333%;
    }
  }
  
  @media only screen and (max-width: 479px){
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #featuredImage, #featuredRail, #aboutUs {
      width: 100%;
      padding: 1em;
      text-align: center;
    }
    #mobile_menu {
      display: block;
    }
  }
  
  