body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1024px;
    width: 95%;
    margin: 1em auto;
    padding: 0;
    border: 4px solid #2d611f;
    box-shadow: 0 10px 20px 10px;
    background-color: #faebd7;
    border-radius: 6px;
  }

  main{
    display: flex;
    justify-content: space-around;
  }

  section{
    order: 2;
    padding: 1em;
    }
  
  section h1{
    font-size: 200%;
    color: #060c04;
  }

  #slideshow{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    aspect-ratio: 4 / 3;
    min-height: 600px;
}

.slide{
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    animation: fade 24s;
    animation-iteration-count: infinite;
}

.slide:nth-child(1) {
  opacity: 1;
  z-index: 1;
}
.slide:nth-child(2){ animation-delay: 6s; }
.slide:nth-child(3){ animation-delay: 12s; }
.slide:nth-child(4){ animation-delay: 18s; }

@keyframes fade {
    0% { opacity: 0; z-index: 0;}
    5% { opacity: 1; z-index: 1;}
    25% { opacity: 1; z-index: 1;}
    30% { opacity: 0; z-index: 0;}
    100% { opacity: 0; z-index: 0;}
}

img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

  #rightRail{
    order: 3;
    padding: 1em;
    width: 33%;
  }

  #rightRail h1{
    text-align: center;
  }

  #clarify{
    font-style: oblique;
  }

  #featuredRail {
    background-color: #bad69d;
    order: 1;
    padding: 2em;
    width: 20%;
  }
  
  #featuredRail h2{
    color: #060c04;
    font-size: 125%;
    padding: 0 0 .5em 0;
  }

  aside h3{
    font-size: 90%;
  }
  
  #mobile_menu{
    display: none;
  }

  #aboutUs a{
    color: #2d611f;
  }
  
  /*media queries*/
  @media only screen and (max-width: 900px){
    body {
      font-size: 90%;
      box-shadow: none;
    }
  }
  
  @media only screen and (max-width: 767px){
    main {
      flex-direction: column;
    }
    section {
      order: 1;
    }
    #featuredRail {
      order: 2;
      padding: .5em 3.3333% 1em 3.3333%;
    }
  }
  
  @media only screen and (max-width: 479px){
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #featuredImage{
      width: 100%;
      padding: 1em;
    }
    
    #featuredRail {
      width: 90%;
      padding: 1em;
      text-align: center;
    }

    #rightRail{
      width: 90%;
      text-align: center;
    }

    #mobile_menu {
      display: block;
    }
  }
  
  