body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1024px;
    width: 95%;
    margin: 1em auto;
    padding: 0;
    border: 3px solid #2d611f;
    box-shadow: 0 10px 20px 10px;
  }
  
  h1, h2, h3 p{
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }
  
  ul{
    margin: 0;
    padding: 0;
  }
  
  /*all styles for main*/
  main{
    display: flex;
  }
  
  /*all styles for section*/
  section{
    flex-basis: 62.7777%;
    order: 2;
    padding: 1.5625em 3.3333% 0 3.3333%;
    /*width: 62.7777%;*/
    }
  
  section h1{
    font-size: 160%;
  }
  section h2{
    font-size: 130%;
  }
  section h3{
    font-size: 110%;
    color: #060c04;
  }
  
  section ul {
    padding-left: 2em;
  }
  
  section a:link, section a:visited {
    color: #db9dc3;
  }
  section a:hover, section a:focus {
    color: #2d611f;
  }
  
  section img.icon {
    float: left;
    margin-right: 10px;
    width: 32px;
    vertical-align: middle;
    transition: transform 2s ease-out;
  }
  
  section img.icon:hover {
    transform: scale(1.1);
  }
  
  
  /*all styles for aside*/
  aside {
    flex-basis: 27.2222%;
    order: 1;
    padding: 1.5625em 0 0 3.3333%;
    /* width: 27.2222%; */
  }
  
  aside h2{
    color: #db9dc3;
    font-size: 125%;
    padding: 0 0 .5em 0;
  }
  
  aside ul {
    padding-left: 1em;
  }
  
  aside li{
    line-height: 1.5em;
  }
  aside a:link, aside a:visited {
    font-weight: bold;
    color: #2d611f;
    text-decoration: none;
  }
  aside a:hover, aside a:focus {
    color: #db9dc3;
    text-decoration: none;
  }
  
  #mobile_menu{
    display: none;
  }
  
  /*media queries*/
  @media only screen and (max-width: 900px){
    body {
      font-size: 90%;
      box-shadow: none;
    }
  }
  
  @media only screen and (max-width: 767px){
    main {
      flex-direction: column;
    }
    section {
      order: 1;
    }
    aside {
      order: 2;
      padding: .5em 3.3333% 1em 3.3333%;
    }
  }
  
  @media only screen and (max-width: 479px){
    
  }
  
  