section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    font-size: 100%;
    margin-bottom: .5em;
}

h2{
  margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color:#bad69d;
    width: calc(33.333% - 1em); /* Three columns with gap */
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  .container button{
    display: block;
    margin: .5em auto;
    background-color: antiquewhite;
    border-color: #2d611f;
    border-radius: 3px;
  }

  #cart{
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300 px;
    max-height: 20%;
    overflow: auto;
    background-color: #2d611f;
    color: antiquewhite;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-left-radius: 8px;
    z-index: 1000;
  }

  #cart button{
    width: 100%;
    background-color: antiquewhite;
  }

  @media only screen and (max-width: 768px) {
    .card {
        width: calc(50% - 1em);
    }
}

  @media only screen and (max-width: 479px){
    body{
        width: 90%;
    }

    section {
        padding: .5em;
    }

    .card {
        width: 100%;
    }

    #mobile_menu {
        display: block;
    }

    #cart{
        width: 30%;
        max-height: 20%;
    }
}
